.feature-list {
  padding: 0 0 7rem;

  .feature-list-item {
    border-top: solid 2px #eeeeee;
    margin-bottom: 0;
    margin-top: 3em;
    padding-top: 3em;
    &.first {
     margin-top: 0;
    }
  }

  .feature-list_footer {
    text-align: center;
    margin-top: 4rem;
    padding: 5rem 0 0 0;
    border-top: solid 2px #eeeeee;
  }
}

@media (min-width: 550px) {
  .feature-list {
    padding: 0 0 10rem;
  }
}

@media (min-width: 750px) {
  .feature-list {
    padding: 0 0 9rem;
  }
}

@media (min-width: 1000px) {
  .feature-list {
    padding: 0 0 11rem;
  }
}