.feature-list {
  padding: 0 0 4rem;

  .feature-list-item {
    border-top: solid 2px #eeeeee;
    margin-bottom: 0;
    margin-top: 3em;
    padding-top: 3em;
    &.first {
     margin-top: 0;
    }
  }

  .feature-list_footer {
    text-align: center;
    margin-top: 4rem;
    padding: 5rem 0 0 0;
    border-top: solid 2px #eeeeee;
    h3 {
      font-size: 2.5rem;
    }
  }
}

@media (min-width: 550px) {
  .feature-list {
    padding: 0 0 5rem;
    .feature-list_footer {
      h3 {
        font-size: 3rem;
      }
    }
  }
}
