.header-left {
  .action-buttons {
    display: inline;
    margin-right: 5px;
    .button {
      padding: 0 20px;
    }
  }
  .header-subheading {
    letter-spacing: 0;
  }
}

.phones {
  position: relative;
}

@media (min-width: 550px) {
  .header {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
    .header-heading {
      font-size: 2.4rem;
    }
    .header-subheading {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 750px) {
  .header {
    height: 190px;
    padding: 16rem 0 14rem;
    .header-heading {
      font-size: 2.6rem;
    }
    .header-subheading {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 22rem 0;
    .header-heading {
      font-size: 3.0rem;
    }
    .header-subheading {
      font-size: 2.0rem;
    }
  }
}