@import '../../../core/_vars';

.commit-status {
  color: $accent;
  display: inline-block;
  position: relative;
  text-align: center;

  .commit-status-popover {
    background-color: rgba($primary, 0.85);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 5px rgba($primary, 0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    font-family: 'Helvetica',sans-serif;
    left: -95px;
    padding: 7px 10px;
    position: absolute;
    width: 200px;
    z-index: 4;

    &:before {
      border-top: 7px solid rgba($primary, 0.85);
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      bottom: -7px;
      content: '';
      display: block;
      left: 50%;
      margin-left: -7px;
      position: absolute;
    }
  }

  &:hover {
    .commit-status-popover {
      display: block;
      animation: fade-in .3s linear 1, move-up .3s linear 1;
    }
  }

  .commit-status-icon {
    font-weight: 400;
    cursor: pointer;
    &.success {
      color: $accent;
    }
    &.pending {
      color: $accent;
    }
    &.error {
      color: material-color('red', '500');
    }
  }
}


@keyframes fade-in {
  from   { opacity: 0; }
  top { opacity: 1; }
}

@keyframes move-up {
  from   { bottom: 30px; }
  to { bottom: 42px; }
}